{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="role-box">
        <img src="" class="role-img-left">
        <img src="" class="role-img-right">
    </div>
    <div class="dialog-box">
        <div class="dialog-options">
            <button class="option" data-text="你好！">你好！</button>
            <button class="option" data-text="请问这里是里？">请问这里是哪里？</button>
        </div>
        <div class="dialog-content">
            <p id="dialog-text">你好，旅行者！欢迎来到提瓦特大陆。</p>
        </div>

    </div>
</div>

{% endblock content %}